.allGamesBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #232323;
  min-height: 100vh;
}

.allGamesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #363636;
  border-radius: 50px 50px 0px 0px;
  min-height: 100vh;
  width: 930px;
  margin: 0px;
  padding-bottom: 30px;
}

.eachGame {
  width: 200px;
  height: 225px;
  margin: 20px;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #232323;
  border-radius: 10px;
  transition: transform 0.2s;
}
.eachGame:hover {
  transform: scale(1.2);
}
#GameUserProfilePic {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  margin-right: 5px;
  object-fit: cover;
  object-position: 50% 50%;
}

.gameUserInfoLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  width: 200px;
  height: 30px;
  font-size: smaller;
  margin-left: 10px;
  color: white;
}

.eachGameLink {
  text-decoration: none;
  text-align: left;
  color: white;
}

.eachGameLink h5 {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 15px;
}

.eachGameThumbnailDiv {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
}

#eachGameThumbnail {
  width: 200px;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  object-position: 50% 50%;
}
.gameTitleH5 {
  word-wrap: break-word;
  white-space: pre-wrap;
}
/* SEARCH BAR */

.searchComponent {
  margin-top: 100px;
  margin-bottom: 30px;
  width: 930px;
}

.sbInput::placeholder {
  color: white;
}

.searchBarDiv {
  width: 910px;
  background-color: #363636;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-radius: 25px;
  padding-left: 20px;
}
.searchBarDiv input {
  border: none;
  outline: none;
  width: 850px;
  font-size: 16px;
  background-color: #363636;
  color: white;
}
.searchBarDiv input:active {
  border: none;
  outline: none;
}

#searchBarIcon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
