.gameDetailsBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #232323;
  min-height: 100vh;
}

/* GAME INFO DIV*/

.gameDetailsDiv {
  margin-top: 100px;
  width: 960px;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #363636;
  border-radius: 50px 50px 0px 0px;
  padding: 50px;
  color: white;
}

/* GAME INFO */
.innerDivGameInfo {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.gameCreatorLink {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: white;
  padding-bottom: 0;
  
}
.gameCreatorLink h4{
  border-bottom: 2px solid white;
}
.gameCreatorLink h4:hover{
  color: darkgrey;
  border-bottom: 2px solid darkgrey;
}

.gameCats {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gameCats p {
  border: 2px solid #232323;
  background-color: #232323;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  color: white;
  font-size: small;
  text-align: center;
}

.gameDescriptionP {
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 20px;
}

/* GAME BUTTONS */
.gameButtons {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.fullScreenBtn a {
  text-decoration: none;
  color: #363636;
}

.fullScreenBtn {
  width: 130px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  
  border: 0;
}

.fullScreenBtn:hover {
  width: 130px;
  height: 30px;
  border-radius: 15px;
  padding: 1px;
  background-color: rgb(209, 209, 209);
  color: #363636;
}

.lowerDivGameDetails{
  margin-top: 40px;
  width: 960px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #363636;
}



/* COMMENTS */

.gameComments {
  width: 600px;
}

/* VIEW COMMENTS */
.viewCommentsDiv {
  width: 600px;
}

.noCommentsP {
  text-align: center;
}

.eachComment {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 600px;
  margin-bottom: 10px;
}

.userCommentInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.commentInfo {
  margin: 0;
  height: auto;
  width: 600px;
}

.commentCreatorLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 15px;
  color: white;
}

.commentCreatorLink p {
 border-bottom: 2px solid white;
}

.commentCreatorLink p:hover{
  color: darkgrey;
  border-bottom: 2px solid darkgrey;
}

.commentCreatorLink img {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  margin-right: 5px;
  object-fit: cover;
  object-position: 20% 10%;
  border-radius: 100px;
}

.commentContentDiv p {
  margin: 0;
  height: auto;
  padding-left: 25px;
  width: 570px;
  font-size: 14px;
}

.deleteCommentBtn {
  border: 0;
  background-color: #363636
}

.deleteCommentBtn img {
  width: 15px;
  height: 15px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.likeBtn{
  border: 0;
  background-color: #363636
}

.likeBtnImg{
  width: 30px;
  height: 30px;
}




/* CREATE COMMENTS */

.createCommentDiv {
  margin-top: 20px;
  width: 600px;
}

.createCommentForm {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createCommentForm textarea {
  width: 590px;
  margin-bottom: 10px;
}

.createCommentForm textarea {
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 5px;
  font-size: 14px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 15px;
}

.createCommentForm textarea:focus {
  outline: none;
}
.submitCommentSubmitBtn {
  width: 110px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  color: #363636;
  border: 0;
}

.submitCommentSubmitBtn:hover {
  width: 110px;
  height: 30px;
  border-radius: 15px;
  padding: 1px;
  background-color: rgb(209, 209, 209);
  color: #363636;
}


/* RELATED GAMES  */

.recomendationGames{
  width: 360px;

}

.recomendationGames h3{
  margin-left: 35px;
}
.allRelatedGames{
  width: 360px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start
  
}
.eachRelatedGame{
  width: 130px;
  height: 160px;
  background-color:#232323;
  border-radius: 10px;
  margin-bottom: 35px;
  margin-left: 35px
}


.eachRelatedGameLink{
  text-decoration: none;
  font-size: 14px;
 text-align: center;
}

.eachRelatedGameLink p {
  margin: 0;
  color: white;
}

.eachRelatedGameThumbnail{
  width: 130px;
  height: 110px;
  object-fit: cover;
  object-position: 50% 50%;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}