/* .homePageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
} */

.bgVideo {
  background-image: url("../hbggif.gif");
  background-repeat: no-repeat;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  background-size: cover;
}



.bheader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.bheader h1 {
  color: white;
  width: 500px;
  font-size: 40px;
}

.homeCard {
  width: 350px;
  height: 500px;
  background-color: #363636;
  border-radius: 20px;
}

.bMostPlayed, .bMostLiked {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mostHeader {
  width: 1050px;
  text-align: start;
  color: white;
  margin-left: 20px;
}

.mostPlayedGames,
.mostLikedGames {
  display: flex;
  flex-direction: row;
  width: 1200px;
}
