.profileBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  background-color: #232323;
}

.profileUpperDiv {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 960px;
  justify-content: space-evenly;
}

/* USER INFO*/

.userDiv {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 500px;
  background-color: #363636;
  border-radius: 50px 50px 50px 50px;
}

.userPicDiv {
  width: 320px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#userProfilePic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 20% 10%;
  border-radius: 100px;
}
.userInfoDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 250;
  width: 235px;
  margin-left: 40px;
  margin-right: 40px;
}
.userInfoDiv h4,
.userInfoDiv p {
  margin: 0;
  text-align: left;
  color: white;
}

.userBioP {
  font-size: 14px;
}

.userAccountsLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 235px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.accountIcon {
  width: 30px;
  height: 30px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

/* USER GAMES*/

.thisUserGames {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-height: 500px;
  overflow-y: scroll;
  white-space: nowrap;
  align-items: center;
  background-color: #363636;
  border-radius: 50px 50px 50px 50px;
  color: white;
}

.allSubmitedGmes {
  display: flex;
  flex-direction: column;
}

.eachSubmitedGameDiv {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  height: 150px;
  margin-bottom: 20px;
}

.eachSubmitedGame {
  display: flex;
  flex-direction: row;
  width: 450px;
  height: 150px;
  background-color: #232323;
  border-radius: 10px;
  margin-left: 5px;
}

.submitedGameInfoDiv {
  width: 250px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
}

.submitedGameTitleP {
  max-width: 280px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: white;
}

.titleP {
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 100%;
}

.editGameBtnDiv {
  max-width: 210px;
  display: flex;
  justify-content: flex-end;
}

.editGameBtnLink {
  width: 20px;
  height: 20px;
}

.thisUserGameCat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 280px;
  height: auto;
}

#editGameIcon {
  width: 20px;
  height: 20px;
}

.thisUserGameCat p {
  margin-right: 15px;

  background-color: white;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: black;
  font-size: small;
  text-align: center;
}

.submitedGamePic {
  width: 200px;
  height: 150px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
  object-position: 50% 50%;
}

/* LIKED GAMES*/

.likedGamesDiv {
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 50px;
  width: 880px;
  height: 250px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #363636;
  border-radius: 50px 50px 50px 50px;
}

.likedGamesDiv h4 {
  margin-top: 20px;
  margin-left: 40px;
}

.allLikedGames {
  display: flex;
  flex-direction: row;
  width: 850px;
  height: 200px;
  overflow-x: scroll;
  white-space: nowrap;
  margin-left: 20px;
  align-items: center;
}

.eachLikedGame {
  width: 140px;
  height: 160px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eachLikedGameLink {
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  background-color: #232323;
  border-radius: 10px;
  color: white;
  text-align: left;
  height: 160px;
  width: 140px;
  margin: 0;
}

.eachLikedGamePDiv p {
  width: 140px;
  font-size: 12px;
  text-align: center;
}

.likedGamePic {
  width: 140px;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  object-position: 50% 50%;
}

/* LIKED GAMES SCROLL BAR */
.allLikedGames::-webkit-scrollbar {
  height: 10px;
}

.allLikedGames::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.allLikedGames::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #262626;
}
.allLikedGames::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

/* SUBMITED GAMES SCROLL BAR */

.thisUserGames::-webkit-scrollbar {
  width: 10px;
}

.thisUserGames::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.thisUserGames::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #262626;
}
.thisUserGames::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}
