.submitGameBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #232323;
}

.submitGameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #363636;
  border-radius: 50px 50px 0px 0px;
  width: 960px;
  height: 100%;
  margin-top: 100px;
  color: white;
}

.submitGameFormInnerDiv {
  display: flex;
  flex-direction: row;
  width: 960px;
  height: 370px;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.submitGameFormDiv1 {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0;
}

.submitGameFormDiv1 input {
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 5px;
  font-size: 14px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 50px;
}
.submitGameFormDiv1 input:focus {
  outline: none;
}
.submitGameFormDiv1 textarea {
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 5px;
  font-size: 14px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 25px;
}

.submitGameFormDiv1 textarea:focus {
  outline: none;
}

.submitGameFormDiv2 {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0;
}

.submitGameFormDiv2 input {
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 5px;
  font-size: 14px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 50px;
}
.submitGameFormDiv2 input:focus {
  outline: none;
}

.submitGameCatDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
}
.submitGameCategories {
  font-size: 14px;
}

.thumbnailPreviewDiv {
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnailPreview {
  object-fit: cover;
  object-position: 50% 50%;
  width: 300px;
  height: 200px;
}

.submitGameSubmitBtn {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  color: #363636;
  border: 0;
}

.submitGameSubmitBtn:hover {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  padding: 1px;
  background-color: rgb(209, 209, 209);
  color: #363636;
}
